/********************************************
******************COLORS*********************
*********************************************/

/*CSS HEX 
iron: #cdd3d8;
--matisse: #1c6ca4;
--tundora: #444444;
--curious-blue: #268fcc;
--rolling-stone: #71777d;
--downy: #7bb3d6;
--curious-blue: #278cc3;
--chathams-blue: #144c7b;
--steel-blue: #447da9;
--dark-grey #282828
*/

/* CSS RGB 
sdasd
--iron: rgba(205,211,216,1);
--matisse: rgba(28,108,164,1);
--tundora: rgba(68,68,68,1);
--curious-blue: rgba(38,143,204,1);
--rolling-stone: rgba(113,119,125,1);
--downy: rgba(123,179,214,1);
--curious-blue: rgba(39,140,195,1);
--chathams-blue: rgba(20,76,123,1);
--steel-blue: rgba(68,125,169,1);


--big-stone: #143138;
--rock-blue: #a1b8d3;
--danube: #6aaacd;
--steel-blue: #4d8eb4;
--smalt-blue: #587d90;
--ming: #38657b;
--casal: #315865;
--shuttle-gray: #5a6165;
--au-chico: #945c5c;


*/



/********************************************
******************ELEMENTS*******************
*********************************************/


body {
  font-family: "Montserrat", sans-serif;
  background-color: #202020;
  color:#fff;
  padding-top: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_navigation {
  width: 100%;
  height: 110px;
  background-color: #268fcc;
  /* position: absolute; */
  top: 0;
}

.navigation {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 210px;
}

.logo {
  width: 110px;
  height: 110px;
  /* margin-top: 10px; */
}
a {
  padding: 10px;

  align-items: center;
}
.navigation_links {
  padding-right: 10px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border-radius: 10px;
}
.navigation_links:hover {
  color: #fff;
  background-color: #144c7b;
  border-radius: 10px;
  transition: 0.3s ease;
}
.ig_logo {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.ig_logo_link {
  margin-top: 40px;
}

.car_background {
  position: relative;
}
.car_text {
  display: inline-block;
  width: 400px;
  color: #fff;
  position: absolute;
  right: 210px;
  top: 50px;
  text-shadow: grey 1px 0 10px;
  font-size: 27px;
}
h1 {
  margin-bottom: 30px;
}
.car_image {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.buttons_container {
  width: 100%;
}

.buttons_header {
  margin-top: 50px;
  padding: 0 205px;
  display: flex;
  justify-content: space-between;
}

.buttons_header p {
  width: 500px;
}

.services_container {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.services {
  padding: 0 200px;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services a {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  width: 300px;
  height: 300px;
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #161617;
}
.last_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 1200px;
  margin: 0 auto;
}
.Instagram {
  width: 35px;
  height: 35px;
}
.copyright {
  text-align: center;
  background-color: #161617;
}
.waxing{
  width: 300px;
  height: 300px;
}
section{
  width: 1250px;
  margin: 0 auto;
}
.price_container{
  display: flex;
  /* width: 1000px; */
  
  
  
  
}
