/* COLORS

CSS HEX 
iron: #cdd3d8;
--matisse: #1c6ca4;
--tundora: #444444;
--curious-blue: #268fcc;
--rolling-stone: #71777d;
--downy: #7bb3d6;
--curious-blue: #278cc3;
--chathams-blue: #144c7b;
--steel-blue: #447da9;
*/

/* CSS RGB 
--iron: rgba(205,211,216,1);
--matisse: rgba(28,108,164,1);
--tundora: rgba(68,68,68,1);
--curious-blue: rgba(38,143,204,1);
--rolling-stone: rgba(113,119,125,1);
--downy: rgba(123,179,214,1);
--curious-blue: rgba(39,140,195,1);
--chathams-blue: rgba(20,76,123,1);
--steel-blue: rgba(68,125,169,1);
*/

