/* COLORS

CSS HEX 
iron: #cdd3d8;
--matisse: #1c6ca4;
--tundora: #444444;
--curious-blue: #268fcc;
--rolling-stone: #71777d;
--downy: #7bb3d6;
--curious-blue: #278cc3;
--chathams-blue: #144c7b;
--steel-blue: #447da9;
--dark-grey #282828
*/

/* CSS RGB 
--iron: rgba(205,211,216,1);
--matisse: rgba(28,108,164,1);
--tundora: rgba(68,68,68,1);
--curious-blue: rgba(38,143,204,1);
--rolling-stone: rgba(113,119,125,1);
--downy: rgba(123,179,214,1);
--curious-blue: rgba(39,140,195,1);
--chathams-blue: rgba(20,76,123,1);
--steel-blue: rgba(68,125,169,1);
*/

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #cdd3d8;
  /* color:#fff */
  padding-top: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_navigation{
  width: 100%;
  height: 110px; 
  background-color: #268fcc;
  position: absolute;
  top: 0;
}

.navigation{
  background-color: #268fcc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 210px;
  
}
 

.logo {
  width: 110px;
  height: 110px;
  /* margin-top: 10px; */
}
a {
  
  padding: 10px;
  
  align-items: center;
}
.navigation_links {
  padding-right: 10px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border-radius: 10px;
}
.navigation_links:hover{
  color: #fff;
  background-color:#144c7b ;
  border-radius: 10px;
  transition: 0.3s ease;

}
.ig_logo{
  height:30px ;
  width:30px ;
  cursor: pointer;
  
}
.ig_logo_link{
  margin-top: 40px;
}

.car_background{
  position: relative;
 
}
.car_text {
  display: inline-block;
  width: 400px;
  color: #fff;
  position: absolute;
  right: 210px;
  top: 50px;
  text-shadow: grey 1px 0 10px;
  font-size: 27px;
}
h1{
  margin-bottom: 30px;
}
.car_image {
  width: 100%;
  height: 500px;
  filter: brightness(50%);
  
}

.buttons_container{
  width: 100%;
}

.buttons_header{
  margin-top: 50px;
  padding: 0 205px;
  display: flex;
  justify-content: space-between;
  
}

.buttons_header p {
  width: 500px;
}

.services_container{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.services{
  padding: 0 200px;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services a{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  width: 300px;
  height: 300px;
  background-color: #268fcc;
  color: #fff;
  text-align: center;
  cursor: pointer;
}


