/********************************************
******************COLORS*********************
*********************************************/

/*CSS HEX 
iron: #cdd3d8;
--matisse: #1c6ca4;
--tundora: #444444;
--curious-blue: #268fcc;
--rolling-stone: #71777d;
--downy: #7bb3d6;
--curious-blue: #278cc3;
--chathams-blue: #144c7b;
--steel-blue: #447da9;
--dark-grey #282828
*/

/* CSS RGB 
sdasd
--iron: rgba(205,211,216,1);
--matisse: rgba(28,108,164,1);
--tundora: rgba(68,68,68,1);
--curious-blue: rgba(38,143,204,1);
--rolling-stone: rgba(113,119,125,1);
--downy: rgba(123,179,214,1);
--curious-blue: rgba(39,140,195,1);
--chathams-blue: rgba(20,76,123,1);
--steel-blue: rgba(68,125,169,1);


--big-stone: #143138;
--rock-blue: #a1b8d3;
--danube: #6aaacd;
--steel-blue: #4d8eb4;
--smalt-blue: #587d90;
--ming: #38657b;
--casal: #315865;
--shuttle-gray: #5a6165;
--au-chico: #945c5c;


*/

/********************************************
******************ELEMENTS*******************
*********************************************/

body {
  font-family: "Montserrat", sans-serif;
  background-color: #202020;
  color: #fff;
  padding-top: 0px;
  display: flex;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_navigation {
  width: 100%;
  height: 110px;
  background-color: #268fcc;
  top: 0;
  position: sticky;
  z-index: 900;
}

.navigation {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 210px;
}

.logo {
  width: 110px;
  height: 110px;
  /* margin-top: 10px; */
  transform: rotate(360deg);
  transition: 0.5s;
}

a {
  padding: 10px;

  align-items: center;
}
.navigation_links {
  padding-right: 10px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border-radius: 10px;
}
.navigation_links:hover {
  color: #fff;
  background-color: #144c7b;
  border-radius: 10px;
  transition: 0.3s ease;
}
.ig_logo {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.ig_logo_link {
  margin-top: 40px;
}

.car_background2 {
  position: relative;
}
.car_text {
  display: inline-block;
  width: 400px;
  color: #fff;
  position: absolute;
  right: 110px;
  top: 130px;
  text-shadow: grey 1px 0 10px;
  font-size: 27px;
}

.car_text2 {
  /* display: inline-block; */
  width: 400px;
  color: #fff;
  position: absolute;
  text-shadow: grey 1px 0 10px;
  font-size: 27px;
  top: 130px;
  left: 90px;
}

h1 {
  margin-bottom: 60px;
}
.car_image {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  display: block;
}

.car_image2 {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  display: block;
}

#buttons_container {
  width: 100%;
}

.buttons_header {
  /* margin-top: 50px;
  padding: 0 205px;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  text-align: center;
  padding-top: 30px;
}

.buttons_header p {
  width: 500px;
  height: 50px;
}

.services_container {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.service_packages {
  padding: 0 200px;
}
.sp {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 6px;
  text-shadow: 3px 5px 2px #303030, 40px 40px 20px rgba(206, 89, 55, 0);
}
.sp_paragraph {
  line-height: 1.5;
}

.service_packages {
  display: flex;
  justify-content: space-between;
}

.service_packages a {
  box-shadow: 10px 10px 20px rgb(9, 9, 9);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* background: linear-gradient(180deg, hsla(0, 0%, 31%, 1) 0%, hsla(0, 0%, 0%, 1) 100%); */
  background-color: #303030;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.service_packages a:hover {
  box-shadow: 20px 20px 20px 5px rgb(23, 23, 23);
  width: 305px;
  height: 305px;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: #303030;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: -2.5px;
}

.service_packages a li {
  list-style: none;
  margin-bottom: 20px;
  text-align: left;
}

.sp_text {
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  margin-bottom: 10px;
}

.contact_us {
  color: white;
}

.service_img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
}

/* Footer */
footer {
  background-color: #161617;
}
.last_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 1450px;
  margin: 0 auto;
}
.socmed {
  text-decoration: none;

  padding: 5px;
}
.redes {
  display: flex;
}

.Instagram {
  width: 35px;
  height: 35px;
}
.ticktock {
  width: 35px;
  height: 35px;
}
.facebook {
  width: 35px;
  height: 35px;
}

.copyright {
  text-align: center;
  background-color: #161617;
}
.waxing {
  width: 300px;
  height: 300px;
}
section {
  width: 1250px;
  margin: 0 auto;
}

.follow_icon {
  width: 25px;
  height: 25px;
}
.follow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

/* Contact Us */
.car_background3 {
  position: relative;
}
.contacto {
  color: black;
  box-shadow: 10px 10px 20px rgb(9, 9, 9);
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.521);
  /* padding: 150px 200px; */
  /* margin: 30px 0; */
  border-radius: 10px;
  /* margin-left: 500px; */
  /* margin-bottom: top 100px; */
  position: absolute;
  top: 150px;
  right: 100px;
}

#appointment {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #33393e;
  margin-top: 60px;
}

.contact_info {
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  row-gap: 40px;
  margin-top: 60px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(65, 65, 65);
}
.Catchap {
  width: 200px;
  background-color: #333335;
  color: #fff;
  padding-left: 6px;
  padding-top: 3px;
  border-radius: 10px;
}
.Catchap_text1 {
  font-size: 14px;
  letter-spacing: 1;
}
.Catchap_text2 {
  font-size: 12px;
}
.btn {
  width: 75px;
  height: 40px;
  background-color: #4e4e4e58;
  border: none;
  margin-left: 75px;
  letter-spacing: 0.5px;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #268fcc;
  transition: 0.3s;
}

.caja {
  width: 220px;
  height: 34px;
}
.Details {
  transition: 0.5s;
  width: 220px;
  height: 34px;
}
.Details:focus {
  /* padding: 20px 0PX; */

  height: 80px;

  transition: 0.5s;
}

/* .slide-container {
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;

}

.image-slider{

  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;

}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;

}

.img{
  position: relative;
  width: 240px;
  height: 240px;
  transition: 0.5s;
  border-radius: 10px;

}

.button {
  position: absolute;
  width: 240px;
  height: 240px;
  transition: 0.5s;

}

#slider-span1:target ~.image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
  width:360px;
  height: 360px;
  background-color: transparent;
}
#slider-span2:target ~.image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
  width:360px;
  height: 360px;
  background-color: transparent;
}
#slider-span3:target ~.image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
  width:360px;
  height: 360px;
  background-color: transparent;
}

#slider-span4:target ~.image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
  width:360px;
  height: 360px;
  background-color: transparent;
}

#slider-span1:target ~.image-slider{
  left:40%;
}
#slider-span2:target ~.image-slider{
  left:20%;
}
#slider-span3:target ~.image-slider{
  left:0%;
}

#slider-span4:target ~.image-slider{
  left:-20%;
} */
